body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container button{
    background-color:cornflowerblue ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover{
    background-color: #0056b3;
}



